body {
  background-color: #E7E4EF;
  height: 2000px;
  font-family: 'Roboto', sans-serif; }

.testingButton {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent; }

.testingButton:focus {
  outline: none; }

.jumbotron {
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #122775; }
  .jumbotron h1 {
    text-align: center;
    color: #E7E4EF; }
  .jumbotron h3 {
    text-align: center;
    color: #E7E4EF; }

.centerMe {
  text-align: center; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container .listFlex {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

#listNewName {
  background: none;
  border: none;
  text-align: center;
  padding-top: 10px;
  font-size: 2em; }

#listNewName:focus {
  outline: none; }

#theLists {
  padding-top: 10px;
  font-size: 2em; }
  #theLists div {
    text-align: center; }

.fas {
  line-height: inherit; }

.far {
  line-height: inherit; }

.theTasks {
  padding-top: 10px; }
  .theTasks div {
    text-align: center; }

.fa-minus-circle {
  color: #FF0000;
  padding-left: 10px; }

.fa-circle {
  padding-right: 10px;
  color: #122775; }

.fa-check-circle {
  padding-right: 10px;
  color: #008000; }
