$myBackgroundLight: #E7E4EF;
$myZebraColor: #C3C0C9;
$myBackgroundDark: #0F0E0F;
$myAccentColorOne: #122775;
$myAccentColorTwo: #112057;
$myAccentColorThree: #0B1544;
$myDeleteColor: #FF0000;
$mySelectedColor: #008000;
$myListsSize: 2em;
$myJumboMargins: 15px;
$myJumboPaddings: 10px;
$myListsPaddings: 10px;

body {
  background-color: $myBackgroundLight;
  height: 2000px;
  font-family: 'Roboto', sans-serif;
}


.testingButton {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.testingButton:focus {
  outline: none;
}


.jumbotron {
  margin-bottom: $myJumboMargins;
  padding-top: $myJumboPaddings;
  padding-bottom: $myJumboPaddings;
  background-color: $myAccentColorOne;

  h1 {
    text-align: center;
    color: $myBackgroundLight;
  }

  h3 {
    text-align: center;
    color: $myBackgroundLight;
  }
}
.centerMe {
  text-align: center;
}

#listNewName {
  background: none;
  border: none;
  text-align: center;
  padding-top: $myListsPaddings;
  font-size: $myListsSize;
}

#listNewName:focus {
  outline: none;
;
}

#theLists {
  padding-top: $myListsPaddings;
  font-size: $myListsSize;
  div {
    text-align: center;
  }
}

.theTasks {
  padding-top: $myListsPaddings;

  div {
    text-align: center;
  }
}

.fa-minus-circle {
  color: $myDeleteColor;
  padding-left: $myListsPaddings;
}

.fa-circle {
  padding-right: $myListsPaddings;
  color: $myAccentColorOne;
}

.fa-check-circle {
  padding-right: $myListsPaddings;
  color: $mySelectedColor;
}

//.navContainer {
//  background-color: $myZebraColor;
//
//  .navbar-toggler {
//    border: 0;
//  }
//
//  .btn {
//    background-color: $myAccentColorOne;
//    color: $myBackgroundLight;
//    border-color: $myAccentColorThree;
//  }
//
//
//
//}


